body
{
	background-color: #0E4D92;
	font-family: Arial;
	margin-left: 30px;
	margin-right: 500px;
}

h1
{
	font-weight: 900;
}

.contents
{
	text-align:center;
	list-style-position: inside;	
}

.copyright
{
	font-style: italic;
}

a
{
	color: purple;
}