body

{
	background-color: #73C2FB;
	margin-left: 50px;
	margin-right: 650px;
}

li
{	
	list-style: none;
}

ul
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.sp
{
	font-size: 20px;
}