body

{
	background-color: #73C2FB;
	margin-left: 50px;
	margin-right: 650px;

}

#content li
{	
	list-style: none;
}

ul
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#nav
{
	float:left;
	margin-top: -20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 210px;
	background-color: #4F97A3;
}

#wrap
{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#content
{
	margin-top: -17px;
	padding-left: 20px;
	text-align: center;
	background-color: #4682B4;
	padding-bottom: 20px;

}

.sp
{
	font-size: 20px;
}

.copyright
{
	text-align: center;
}